// Small tablets and large smartphones (landscape view)
$screen-sm-max: 600px;

// Small tablets (portrait view)
$screen-md-max: 960px;

// Tablets and small desktops
$screen-lg-max: 1280px;

// Large tablets and desktops
$screen-xl-max: 1920px;
